*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E1E1E;
    color: #fff;
    font-family: Quicksand, sans-serif;
}
nav{
    display: flex;
    gap: 3rem;
    margin: 2rem 1rem;
}
nav input{
    position: relative;
    background-color: #1D2123;
    padding: 1rem 3rem;
    padding-right: 50%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
::placeholder{
    font-family: Quicksand, sans-serif;
    font-size: 1.1rem;
}


/* styling of header-section */
header{
    display: flex;
    gap: 1rem;
    margin: 2rem 1rem;
    height: fit-content;
    width: 100vw;
}

/* gave the .hero-playlist a general vector background for better positioning */
.hero-tabs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tab-1, .tab-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1A1E1F;
    border-radius: 2rem;
}
.hero-tabs img{
    padding: .8rem 1rem;
    cursor: pointer;
}
.hero-playlist{
    display: flex;
    gap: 2rem;
    background-color: #609EAF;
    border-radius: 1rem;
    width: 60%;
    background-image: url(./img/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.hero-playlist article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 6%;
}
.pexels{
    display: block;
    margin: 0 auto;
}
.hero-playlist div h3{
    font-size: 2rem;
}
.frame{
    display: flex;
    gap: 1rem;
}

.hero-charts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-charts h3{
    font-size: 2rem;
}
.hero-charts article{
    background-color: hsla(192, 9%, 11%, 1);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}
.hero-charts article p{
    padding: .1rem;
}
.mid{
    padding: 0rem 2rem;
}
.mid div{
    font-size: .8rem;
}
.hero-charts a{
    color: #fff;
    text-decoration: none;
}
.hero-charts i{
    margin: auto 0;
}

/* styling of the main-section */
main{
    display: flex;
    flex-direction: column;
}
.releases, .popular{
    position: relative;
    left: 5%;
    margin: 1rem 2rem;
}
.releases h3, .popular h3{
    font-size: 2rem;
    padding: 2rem 0;
}
.releases > div, .popular > div{
    display: flex;
    justify-content: space-between;
    width: 120%;
}
.releases img, .popular img{
    border-radius: 1.5rem;
}

/* styling of music player at the bottom */
.music-player{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 18%;
    padding: 1rem 3rem;
    background: rgba(16, 16, 16, 0.5);
    backdrop-filter: blur(5px);
}
.music-player article{
    display: flex;
    margin: auto 0;
    height: fit-content;
}

/* gave both the parent div of the music player text and the text a padding for better alignnment */
.music-player article div, .music-player p{
    padding: .2rem .5rem;
}
.music-player article img{
    border-radius: 50%;
    height: 40%;
    width: 40%;
    animation: spin 8s linear -2s infinite;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
.music-items{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.player-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 0;
}
.player{
    height: 50%;
}
.line{
    background-image: linear-gradient(to right, #FACD66 40%,  rgba(255, 255, 255, 0.04) 40%,  rgba(255, 255, 255, 0.04));
    width: 100%;
    height: .2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
.player-items img{
    padding: 0 1.2rem;
    cursor: pointer;
    transition: .25s;
}
.player-items i{
    color: #FACD66;
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.3);
    background-color: #fff;
    border-radius: 2rem;
    transition: .25s;
    cursor: pointer;
}

.player-items::after{
    content: '';
    height: 2rem;
    width: 2rem;
    background-color: #FACD66;
    border-radius: 50%;
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.3);
    display: none;
}

.player-items i:hover{
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.8);
}
.volume-div{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 10%;
}
.volume{
    background-image: linear-gradient(to right, #FACD66 40%,  rgba(255, 255, 255, 0.04) 40%,  rgba(255, 255, 255, 0.04));
    width: 100%;
    height: .2rem;
    border-radius: 1rem;
}