*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E1E1E;
    color: #fff;
    font-family: Quicksand, sans-serif;
}
nav{
    display: flex;
    gap: 3rem;
    margin: 2rem 1rem;
}
nav input{
    position: relative;
    background-color: #1D2123;
    padding: 1rem 3rem;
    padding-right: 50%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
::placeholder{
    font-family: Quicksand, sans-serif;
    font-size: 1.1rem;
}

/* styling of main section */
main{
    display: flex;
    gap: 2rem;
    margin: 2rem 1rem;
}
.hero-tabs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tab-1, .tab-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1A1E1F;
    border-radius: 2rem;
}
.hero-tabs img{
    padding: .8rem 1rem;
    cursor: pointer;
}

/* styling of top main section */
.hero{
    display: flex;
    gap: 2rem;
}
.hero img{
    border-radius: 2rem;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero-text h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.hero-text p{
    padding-bottom: 1rem;
}
.hero a{
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    background-color: rgba(255, 255, 255, 0.07);
    padding: .5rem 1rem;
    margin: .2rem;
    border-radius: 1rem;
}
.hero a i{
    color: #E5524A;
    font-size: 1rem;
}

/* styling of list of album music */
.music-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
}
.music-list article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 55, 59, 0.37);
    padding: .5rem 1rem;
    width: 85vw;
    border-radius: 1rem;
}
.music-list i{
    color: #FACD66;
    font-size: 1.2rem;
}

/* styling of music player at the bottom */
.music-player{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 18%;
    padding: .5rem 3rem;
    background: rgba(16, 16, 16, 0.5);
    backdrop-filter: blur(5px);
}
.music-player article{
    display: flex;
    margin: auto 0;
    height: fit-content;
}

/* gave both the parent div of the music player text and the text a padding for better alignnment */
.music-player p{
    padding: .2rem .5rem;
}
.music-player article > img{
    border-radius: 1rem;
    height: 30%;
    width: 30%;
}
.music-items{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.player-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 0;
}
.player{
    height: 50%;
}
.line{
    background-image: linear-gradient(to right, #FACD66 40%,  rgba(255, 255, 255, 0.04) 40%,  rgba(255, 255, 255, 0.04));
    width: 100%;
    height: .2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
.player-items img{
    padding: 0 1.2rem;
    cursor: pointer;
    transition: .25s;
}
.player-items i{
    color: #FACD66;
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.3);
    background-color: #fff;
    border-radius: 2rem;
    transition: .25s;
    cursor: pointer;
}
.player-items i:hover{
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.8);
}
.volume-div{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 10%;
}
.volume{
    background-image: linear-gradient(to right, #FACD66 40%,  rgba(255, 255, 255, 0.04) 40%,  rgba(255, 255, 255, 0.04));
    width: 100%;
    height: .2rem;
    border-radius: 1rem;
}